@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700;800&?family=IBM+Plex+Mono:wght@300..700&display=swap');
$primary: #2f826e;

.adooView {
    label {
        font-family: 'IBM Plex Mono', monospace;
        font-size: 1.2rem;
        font-weight: 300 !important;
    }

    input:checked {
        background-color: $primary  !important;
        border-color: $primary  !important;
    }

    input:focus {
        box-shadow: 0 0 0 0.25rem #2f826e58 !important;
    }


    .fade-1 {
        transition: opacity 0.5s ease;
    }
}